$primary-color: #FEF9DC;
$second-color: #DC9F5C;
$darker-color: #283518;
$greencolor: #5F6B38;
$brown-medium: #B96B25;

body {
    background-color: $primary-color;
    color: $darker-color;
    margin: 0;
}