$primary-color: #F8F8F8;  // fond
$text-color: #212121;     // texte
$accent-color: #1C3D5A;   // boutons, liens
$hover-color: darken($accent-color, 10%);

body {
    background-color: $primary-color;
    color: $primary-color;
    margin: 0;
}

p {
    color: black;
}