@use './color' as *;

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 4rem;

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-size: 2rem;
            color: black;
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 1.2rem;
                color: $text-color;
            }
        }

        .button {
            text-align: center;
            .download-btn {
                background-color: $primary-color;
                color: white;
                padding: 0.8rem 1.5rem;
                text-align: center;
                text-decoration: none;
                border-radius: 25px;
                cursor: pointer;

            }
        }
    }

    .about-media {
        display: flex;
        justify-content: center;

        video {
            border-radius: 40% 60% 32% 68% / 30% 43% 57% 70% ; 
            width: 70%;
        }
    }
}
